* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: Arial, sans-serif;
 background-color: #f5f5f5;
}
header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px 3%;
 background: #fff;
 position: absolute;
 width: 100%;
 top: 0;
 left: 0;
 z-index: 10;
}
header .logo img {
 height: 100px;
}
header ul {
 display: flex;
 list-style: none;
}
header ul li {
 margin-left: 50px;
}
header ul li a {
 text-decoration: none;
 color: #e62525;
 font-weight: bold;
}
.hero {
 position: relative;
 height: 100vh;
 background: #fff;
 overflow: hidden;
 display: flex;
 align-items: center;
 padding: 0 10%;
}
.circle {
 position: absolute;
 right: -300px;  
 top: 103%;
 transform: translateY(-50%);
 width: 810px;
 height: 940px;
 background: #ff0000;
 border-radius: 60%;
 z-index: 1;
}
.content {
 position: relative;
 z-index: 2;
 max-width: 500px;
}
.content h1 {
 font-size: 3rem;
 color: #1a1919;
}
.content p {
 margin: 20px 0;
 font-size: 1.5rem;
 color: #555;
}
button {
 background: #ff0000;
 color: white;
 border: none;
 padding: 10px 35px;
 font-size: 1rem;
 cursor: pointer;
 border-radius: 25px;
}
.coke-can {
 position: absolute;
 right: 0%;
 bottom: 5%;
 height: 580px;
 z-index: 1;
}
